@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');

:root {
    --light-blue: #8e59de;
    --dark-gray: #2c2d3f;
    --light-gray: #757575;
    --bg-white: #f6f6f6;
    --bg-white: #edf2ff;
}
body {
    overflow: hidden;
}
* {
    margin: 0;padding: 0;
    box-sizing: border-box;
    font-family: "Cairo", sans-serif;
    outline: none;border: none;
    text-decoration: none;
    text-transform: capitalize;
}
ul li {
    list-style: none;
}
html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}
html::-webkit-scrollbar-thumb{
    border-radius: 5rem;
}
.container {
    max-width: 1200px;
    margin: auto;
    padding: 0 2rem;
}
.title {
    text-align: center;
}
.title h2 {
    font-size: 32px;
    max-width: 600px;
    margin: auto;
}
.title p{
    font-size: 16px;
    max-width: 500px;
    margin: auto;
}
.btn {
    display: inline-block;
    cursor: pointer;
    padding: 10px 25px;
    font-size: 14px;
    border-radius: 5px;
    font-weight: 500;
    transition: all 0.3s ease;
}
.btn-third{
    background-color: #fff;
    color: var(--light-blue);
    border: 1px solid #fff;
}
.btn-primary {
    background-color: var(--light-blue);
    color: #fff;
    border: 1px solid #fff;
}
.btn-third:hover{
    background-color: var(--light-blue);
    color: #fff;
}
.btn-primary:hover {
    background-color: #fff;
    color: var(--light-blue);
    border: 1px solid var(--light-blue);
}
/* start Header */
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 7%;
    border-bottom: .3px solid var(--light-blue);
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 1000;
    background: #ffffff;
}
.header .logo img{
    width: 170px;
    border-radius: 50%;
}

.header .navbar a{
    margin: 0 2rem;
    font-size: 1.6rem;
    color: #000;
    font-weight: 500;
}
.header .navbar a:hover{
    color: var(--light-blue);
    border-bottom: .1rem solid var(--light-blue);
    padding-bottom: .5rem;
}
#menu-btn{
    font-size: large;
    display: none;
    cursor: pointer;
    margin-left: 2rem;
}
.header .join a {
    color: #000;
    font-size: 18px;
    border: 1px solid var(--light-blue);
    padding: .5rem;
    border-radius: 5px;
    margin-right: 1rem;
}
.header .join a:hover{
    color: #fff;
    background: var(--light-blue);
    border: none;
}
section {
    padding: 2rem 7%;
}
/* End Header */



/* start Home */
#myVideo {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}
.home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    /* background: url(image/home4.webp) center center/ cover no-repeat; */
}

.home .content {
    max-width: 60rem;
}
.home .content h3{
    font-size: 6rem;
    font-weight: bold;
    line-height: 1.2;
    text-transform: uppercase;
    color: var(--dark-gray);
}
.home .content p{
    font-size:2rem;
    line-height: 1.8;
    font-weight: 400;
    padding: 1rem 0;
    color: #fff;
    margin-bottom: 5rem;
}
.home .content .btn{
    color: #fff;
    font-weight: 500;
    padding: 2rem;
    border-radius: 5px;
    background: var(--light-blue);
    font-size: 15px;
}
.home .content .btn:hover{
    background: transparent;
    border: 1.5px solid var(--light-blue);
}
/* End Home */

/*  About start */
#about,
#new,
#services,
#blogs{
    padding: 6rem 0;
}
#about .row{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 4rem;
    margin-top: 3rem;
    align-items: center;
}
#about .row img {
    width: 100%;
}
#about .row .column h3{
    font-size: 25px;
}
#about .row .column hr {
    width: 80px;
    height: 2px;
    background: var(--light-blue);
    border: none;
    margin: 5px 0;
}
#about .row .column p{
    font-size: 16px;
    margin-bottom: 25px;
}
#about .row .column .list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
#about .row .column .list li {
    margin-bottom: 5px;
    color: var(--light-gray);
    font-size: 13px;
}
#about .row .column .list li i{
    color: var(--light-blue);
    margin-right: 5px;
}
/*  About End */
/* info start */
#info{
    background: url(image/home9.jpg) no-repeat center center/cover;
    padding: 6rem;
    position: relative;
    z-index: 1;
    color: #fff;
}
#info::before,
#call::before{
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: var(--light-blue);
    opacity: 0.8;
    z-index: -1;
}
#info .row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
#info .row .column{
    display: flex;
    justify-content: center;
    align-items: center;
}
#info .row .column:hover i{
    background-color: #fff;
    color: var(--light-blue);
}
#info .row .column i {
    font-size: 30px;
    padding: 20px;
    border: 2px solid #fff;
    border-radius: 50%;
    margin-right: 20px;
}
#info .row .column p{
    font-size: 15px;
}

#info .row .column span {
    font-size: 30px;
    font-weight: 600;
}
/* info END */

/* new start */
#new .row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 3rem;
    margin-top: 3rem;
    text-align: center;
}
#new .row .column {
    position: relative;
}
#new .row .column i{
    font-size: 30px;
    color: var(--light-blue);
    padding: 25px;
    border: 1px solid #ddd;
    border-radius: 50%;
}
#new .row .column h3 {
    font-size: 18px;
    margin: 20px 0;
}
#new .row .column p{
    font-size: 18px;
}
#new .row .column:first-child::before,
#new .row .column:nth-child(2)::before{
    content: "";
    border-bottom: 4px dotted var(--light-blue);
    position: absolute;
    top: 40px;
    width: 118px;
    right: -75px;
}

/* new End */
/* call start */
#call{
    background: url(image/home7.png) no-repeat center center/cover;
    text-align: center;
    padding: 6rem 0;
    position: relative;
    z-index: 1;
}
#call .call-content {
    max-width: 600px;
    margin: auto;
}
#call .call-content h2 {
    font-size: 35px;
    color: #fff;
}
#call .call-content p{
    color: #fff;
    margin: 25px 0;
}
/* call End */

/* services start */
#services .row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem 3rem;
    margin-top: 5rem;
}
#services .row .item {
    display: flex;
}
#services .row .item i {
    font-size: 40px;
    color: var(--light-blue);
    margin-right: 20px;
}
#services .row .item h3 {
    font-size: 20px;
    margin-bottom: 10px;
}
/* services End */

/* price list start */
#pricelist {
    background: var(--bg-white);
    padding: 6rem 0;
}
#pricelist .row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
    margin-top: 5rem;
}
#pricelist .row .column {
    background-color: #fff;
    padding: 3rem 2rem;
    border: 1px solid #bbb;
    margin-bottom: 2rem;
}
#pricelist .row .column:hover {
    border:  1px solid var(--light-blue);
}
#pricelist .row .column .price-details {
    text-align: center;
}
#pricelist .row .column .price-details i {
    font-size: 60px;
    color: var(--light-blue);
}
#pricelist .row .column .price-details h3 {
    font-size: 24px;
    margin-top: 2rem;
    font-weight: 500;
}
#pricelist .row .column .price-details p {
    font-size: 35px;
    color: var(--light-blue);
    font-weight: 600;
}
#pricelist .row .column .price-details p span {
    font-size: 16px;
    color: var(--light-gray);
    font-weight: 300;
}
#pricelist .row .column ul {
    margin-top: 2rem;
}
#pricelist .row .column ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;
    color: var(--light-gray);
}
#pricelist .row .column ul li {
    font-size: 15px;
}
#pricelist .row .column ul li .fa-circle-check {
    color: var(--light-blue);
}
#pricelist .row .column a {
    width: 100%;
    margin-top: 25px;
    text-align: center;
}
/* price list End */
/* Trainers start */
#Trainers {
    padding: 6rem 0;
}
#Trainers .row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 3rem;
    margin-top: 3rem;
    text-align: center;
}
#Trainers .row .item {
    background-color: var(--bg-white);
}
#Trainers .row img {
    width: 100%;
    height: 300px;
}
#Trainers .row .item .items-details {
    padding: 2rem 0;
}
#Trainers .row .item .items-details h3 {
    font-size: 22px;
}
#Trainers .row .item .items-details p {
    margin: 10px 0 20px;
    color: var(--light-blue);
    font-size: 15px;
}
#Trainers .row .item .items-details a {
    border-radius: 30px;
}
/* Trainers End */
/* Blogs start */
#blogs .row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
    margin-top: 3rem;
}
#blogs .row .column img {
    width: 100%
}
#blogs .row .column {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
#blogs .row .column .col-content {
    padding: 2rem;
    position: relative;
}
#blogs .row .column .col-content::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--light-blue);
    height: 2px;
    width: 0%;
    transition: all 0.3s ease;
}
#blogs .row .column:hover .col-content::before{
    width: 100%;
}
#blogs .row .column .col-content .date {
    display: inline-block;
    padding: 5px 15px;
    background-color: var(--light-blue);
    color: #fff;
    border-radius: 5px;
}
#blogs .row .column .col-content h3 {
    margin: 10px 0;
    font-weight: 500;
    font-size: 16px;
}
#blogs .row .column .col-content p{
    font-size: 12px;
    color: var(--light-gray);
}
/* Blogs End */
/* review start */
#review{
    background-color: var(--bg-white);
}
#review .parant_boxes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
    margin-top: 3rem;
    padding: 0 2rem;
}
#review .parant_boxes .box{
    border: 1px solid #8e59de39;
    text-align: center;
    padding: 3rem 2rem;
}

#review .parant_boxes .animation-box{
    position: relative;
    z-index: 1;
}
#review .parant_boxes .box::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--light-blue);
    height: 0%;
    width: 100%;
    transition: all 0.3s ease;
}
#review .parant_boxes .animation-box:hover .box::before
{
    height: 100%;
    background:#8e59de39;
    z-index: -1;
    border: none;
}
#review .container .fa-quote-left {
    font-size: 20px;
    color: var(--light-blue);
    margin-bottom: 1rem;
}
#review .parant_boxes .box p {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.8;
    color: var(--dark-gray);
    padding: 2rem 0;
}
#review .parant_boxes .box img {
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    object-fit: cover;
}
#review .parant_boxes .box h3 {
    padding: 1rem 0;
    font-size: 2rem;
    color: var(--dark-gray);
}
#review .parant_boxes .box i{
    font-size: 1.5rem;
    color: var(--light-blue);
}
/* review End */
/* contact start */
#contact .row {
    display: flex;
    flex-wrap: wrap;
    gap: 6rem;
    margin-top: 3rem;
    height:60vh;
}
#contact .row .map {
    flex: 1 1 45rem;
    width: 100%;
    object-fit: cover;
}
#contact .row form {
    flex: 1 1 45rem;
}
#contact .row form h3 {
    text-transform: uppercase;
    font-size: 3.5rem;
    color: var(--dark-gray);
}
#contact .row form .inputbox{
    display: flex;
    align-items: center;
    margin-top: 3rem;
    border: 1px solid var(--light-blue);
    background-color: var(--bg-white);
}
#contact .row form .inputbox span {
    color: var(--dark-gray);
    font-size: 2rem;
    padding-left: 2rem;
}
#contact .row form .inputbox input {
    width: 100%;
    padding: .4rem;
    font-size: 1.7rem;
    color: var(--dark-gray);
    text-transform: none;
    background: none;
    
}
#contact .row .btn-primary {
    margin-top:1rem;
}
/* contact End */
/* start footer */
.footer {
    background-color: var(--bg-white);
    text-align: center;
    margin-top: 3rem;
}
.footer .share {
    padding: 1rem 0;
}
.footer .share a{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color: var(--dark-gray);
    border: 1px solid var(--light-blue);
    margin: .3rem;
    border-radius: 50%;
    transition: .3s ease;
}
.footer .share a:hover,
.footer .links a:hover{
    background-color: var(--light-blue);
    color: #fff;
}
.footer .links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 0;
    gap: 1rem;
}
.footer .links a {
    padding: .7rem 2rem;
    color: var(--dark-gray);
    border: 1px solid var(--light-blue);
    font-size: 2rem;
    border-radius: 5px;
    transition: .3s ease;
}
.footer .credit {
    font-size: 2rem;
    color: var(--dark-gray);
    font-weight: lighter;
    padding: 1.5rem;
}
.footer .credit span{
    color: var(--light-blue);
    font-weight: 500;
}

/* End footer */
/* media Queries */
@media (max-width: 991px) {
    #about .row{
        grid-template-columns:1fr;
        row-gap: 3rem;
    }
    #review .parant_boxes,
    #blogs .row,
    #new .row,
    #info .row{
        grid-template-columns:2fr;
        row-gap: 3rem;
    }
    #Trainers .row,
    #pricelist .row,
    #blogs .row,
    #review .parant_boxes,
    #services .row {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 3rem;
        margin-top: 3rem;
        text-align: center;
        row-gap: 3rem;
    }
    #services .row {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 4rem;
        margin-top: 3rem;
        text-align: center;
        row-gap: 3rem;
        padding: 0 3rem;
    }

    html{
        font-size: 55%;
    }
    .header{
        padding: 1.5rem 2rem;
    }
    section {
        padding: 2rem;
    }
    #myVideo {
        display: none;
    }
    .home{
        background: url(image/home4.webp) center center/ cover no-repeat;
    }
    #menu-btn{
        display: inline-block;
    }
    
    .header .navbar{
        position: absolute;
        top: 100%; right: -100%;
        background: var(--light-blue);
        width: 30rem;
        color: #fff;
        height: calc(100vh - 9.5rem);
    }
    .header .navbar a{
        color: #fff;
        display: block;
        margin: 1.5rem;
        padding: .5rem;
        width: 7rem;
    }
    .header .navbar a:hover{
        color: #fff;
        border-bottom-width: 5px;
        border-bottom: .1rem solid var(--dark-gray);
        padding-bottom: .5rem;
    }
    .header .navbar.active{
        right: 0;
    }
    #myVideo {
        display: none;
    }
    .home{
        background: url(image/home4.webp) center center/ cover no-repeat;
    }
    
    .home .content{
        background-position: left;
        justify-content: center;
        text-align: center;
    }
    .home h3{
        font-size: 4.5rem;
    }
    .home p{
        font-size: 1.5rem;
    }
    #info .row .column{
        display: inline;
        text-align: center;
    }
    #new .row .column:first-child::before, #new .row .column:nth-child(2)::before {
        display: none;
    }
}
@media(max-width:800px) {
    #review .parant_boxes,
    #blogs .row,
    #Trainers .row,
    #new .row,
    #info .row{
        grid-template-columns:1fr;
        row-gap: 3rem;
    }
    #pricelist .row .column {
        background-color: #fff;
        padding: 3rem 2rem;
        border: 1px solid #bbb;
        margin-bottom: .5rem;
    }
}

@media (max-width:450px){
    html{
        font-size: 60%;
    }
    .header {
        padding: 1.5rem 2rem;
        height: 7.5vh;
    }
    .header .logo img {
        width: 151px;
        border-radius: 50%;
        padding-right: 3rem;
    }
    #contact .row .map {
        flex: 1 1 45rem;
        width: 100%;
        object-fit: cover;
        height: 228px;
    }
    #pricelist .row,
    #services .row{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        column-gap: 3rem;
        margin-top: 3rem;
        text-align: center;
        row-gap: 3rem;
    }
    #services .row h3 {
        font-size: 1rem;
    }
    #info .column div {
        padding-right: 22px;
    }
}


/* End media Queries */

/* الشريط بالكامل (WebKit) */
::-webkit-scrollbar {
    width: 15px;
}

/* مسار الشريط (WebKit) */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* مقبض الشريط (WebKit) */
::-webkit-scrollbar-thumb {
    background: var(--light-blue);
}

/* مقبض الشريط عند التمرير (WebKit) */
::-webkit-scrollbar-thumb:hover {
    background: var(--light-blue);
}

/* التعديلات العامة لـ Firefox */
html {
    scrollbar-width: thin;
    scrollbar-color: var(--light-blue) #f1f1f1;
}

